<h1>{{title}}</h1>

<form method="post">
    <p>
        File<br />
        <input type="text" name="file[0]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[1]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[2]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[3]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[4]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[5]" />
    </p>

    <p>
        File<br />
        <input type="text" name="file[6]" />
    </p>

    <input type="submit" value="Save" />
</form>
