body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.drop {
  border: 2px dashed blue;
  height: 400px;
  width: 400px;
}

.droppable {
  background: blue;
  border: 2px dashed white;
}
